<div class="line">
  <div class="container <% if index == 0 %><%= 'left' %><% else %><%= 'right' %> <% end %>">
    <h6>
      <%= open_source.title %>
    </h6>
    <p>
      <%= open_source.description %>
    </p>
  </div>
  <span class="line-icon <% if index == 0 %><%= 'right' %><% else %><%= 'left' %> <% end %>"></span>
</div>